
{% comment %}
Ecology workshops
{% endcomment %}


{% if site.curriculum == "dc-ecology" %}

{% if site.flavor == "r" %}
<div id="r"> {% comment %} Start of 'R' section. {% endcomment %}
  <h3>R</h3>
  
  <p> 
    <b>R</b> and <b>RStudio</b> are two separate pieces of software:
    <p> R is a programming language that is especially powerful for data exploration, visualization, and statistical analysis.
    
    RStudio is an integrated development environment (IDE) that makes using R easier. In this course we use RStudio to interact with R.</p>
    
    <p>If you don't already have R and RStudio installed, follow the instructions for your operating system below. You have to install R before you install RStudio.</p>
    
    <p>If you do have R and R studio installed, Open RStudio, and click on “Help” > “Check for updates”. If a new version is available, quit RStudio, and download the latest version for RStudio.
    
    To check which version of R you are using, start RStudio and the first thing that appears in the console indicates the version of R you are running. 
    Alternatively, you can type sessionInfo(), which will also display which version of R you are running. Go on the CRAN website (<a href="https://cran.r-project.org/bin/windows/base/">Windows</a>, <a href="https://cran.r-project.org/bin/macosx/">MacOS</a>)
    and check whether a more recent version is available. If so, please download and install it. You can check here for more information on how to remove old versions from your <a href="https://cran.r-project.org/bin/windows/base/rw-FAQ.html#How-do-I-UNinstall-R_003f">Windows system if you wish to do so</a>.</p>
  </p>
  
  <div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#r-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#r-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#r-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>
     
    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rstats-windows">
#        <a href="https://www.youtube.com/watch?v=q0PjTAylwoU">Video Tutorial</a>
        <ol>
          <li> Download R from the <a href="https://cran.r-project.org/bin/windows/base/release.htm">CRAN website</a></li>
          <li>Run the .exe file that was just downloaded</li>
          <li>Go to the <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio download page</a>.</li>
          <li>Under Installers select Windows 10 - RStudio x.y.zzzz (where x, y, and z represent version numbers)</li>
          <li>Note that if you have separate user and admin accounts, you should run the
          installers as administrator (right-click on .exe file and select "Run as
          administrator" instead of double-clicking). Otherwise problems may occur later,
            for example when installing R packages.</li>
          <li>Double click the file to install it</li>
          <li>Once it’s installed, open RStudio to make sure it works and you don’t get any error messages</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane active" id="rstats-macos">
 #       <a href="https://www.youtube.com/watch?v=5-ly3kyxwEg">Video Tutorial</a>
        <ol>
          <li>Download R from the <a href="https://cran.r-project.org/bin/macosx/">CRAN website</a>.</li>
          <li>Select the .pkg file for the latest R version</li>
          <li>Double click on the downloaded file to install R</li>
          <li>It is also a good idea to install <a href="https://www.xquartz.org/">XQuartz</a> (needed by some packages)</li>
          <li>Go to the <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio download page</a></li>
          <li>Under Installers select Mac OS 10.13+ - RStudio x.y.zzzz (where x, y, and z represent version numbers)</li>
          <li>Double click the file to install RStudio</li>
          <li>Once it’s installed, open RStudio to make sure it works and you don’t get any error messages.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane active" id="rstats-linux">
        <p> You can download the binary files for your distribution from <a href="https://cran.r-project.org/index.html">CRAN</a>. 
          For most distributions, you could use your package manager (e.g., for Debian/Ubuntu run sudo apt-get install r-base, and for Fedora sudo yum install R), but we don’t recommend this approach as the versions provided by this are usually out of date. In any case, make sure you have at least R 3.5.1.
          Also, please install the <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
          Once it’s installed, open RStudio to make sure it works and you don’t get any error messages.
        </p>
      </article>
    </div>
  </div>
</div> {% comment %} End of 'R' section. {% endcomment %}


{% elsif site.flavor == "python" %}
<p>
  The setup instructions for the Data Carpentry Ecology workshops (with Python)
  can be found at <a href="https://datacarpentry.org/ecology-workshop/setup-python-workshop.html">
    the workshop overview site</a>.
</p>
{% else %}
{% include warning-flavor.html %}
{% endif %}

{% comment %}
Genomics workshops
{% endcomment %}

{% elsif site.curriculum == "dc-genomics" %}
<p>The setup instructions for the Data Carpentry Genomics workshops can be found at <a href="https://datacarpentry.org/genomics-workshop/setup.html">the workshop overview site</a></p>.


{% comment %}
Social sciences workshops
{% endcomment %}

{% elsif site.curriculum == "dc-socsci" %}

{% if site.flavor == "r" %}
<p>
  The setup instructions for the Data Carpentry Social Sciences
  workshops (with R) can be found at <a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html">
    the workshop overview site</a>.
</p>

{% elsif site.flavor == "python" %}
<p>
  The setup instructions for the Data Carpentry Social Sciences workshops (with Python)
  can be found at <a href="https://datacarpentry.org/socialsci-workshop/setup-python-workshop.html">
    the workshop overview site</a>.
</p>
{% else %}
{% include warning-flavor.html %}
{% endif %}


{% comment %}
Geospatial workshops
{% endcomment %}

{% elsif site.curriculum == "dc-geospatial" %}
<p>The setup instructions for the Data Carpentry Geospatial workshop can be found at <a href="https://datacarpentry.org/geospatial-workshop/setup.html">the workshop overview site</a>.</p>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
